{% comment %} {
    'user.steamid'
    'user.personaname'
    'user.profileurl'
    'user.avatar'
} {% endcomment %}

<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Steam OpenId Test</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>

<body>

    <div id="wrapper">
        <div id="banner">
        </div>

        <nav id="navigation" class="navbar navbar-default">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" href="#">P2Ptrade</a>
                </div>
                <ul class="nav navbar-nav">
                        <li class=''><a href="">Home</a></li>
                    {% if user.is_authenticated %}
                        <li class=''><a href=" {% url "invo:invo" user.steamid  %}"><button>Inventory</button></a></a></li>
                        <li class=''><a href=''><button>Trade Link</button></a></a></li>
                        <li class=''><a href=''><button>Send Trade </button></a></a></li>
                    
                        <li class=''> <a href="{% url "auth:logout" %}">Logout {{ user.personaname }}</a>  </li>
                        <img src = "{{user.avatar}}">
                        {% comment %} <img src="{% url user.profileurl %}">Logout</a> {% endcomment %}
                    {% else %}
                        <li class=''>
                        <a href="{% url "social:begin" "steam" %}">Sign in with Steam</a>                
                        </li>
                    {% endif %}
                </ul>

                <div id="content_area">
                </div>

                <div id="sidebar">
                </div>

                <footer>
                </footer>
            </div>
</body>
