{% extends 'base.html' %}
{% load static %}
{% comment %} 
items
{
    d.appid
    d.contextid
    d.assetid
    d.classid
    d.instanceid
    d.amount
    d.icon_url
    d.market_name
    d.tradable
} 
{% endcomment %}
{% block inventory %}

<div id="content" class="container"> 
    <form action="{% url "market:sellitem" %}" method="post">
        {% csrf_token %}    
        {{ form }}
        <div class="row2">
         {% for d in data %} 
                {% if  d.tradable %} 
                    <div class="flip flip-vertical items card">
                        {% if d.items|length == 1 %}
                            <div class="front singleitem" style="padding: 0">
                                <a href="#{{d.appid}}_{{d.contextid}}_{{ d.items.0.assetid}}">
                                    <img class = "itemimg" src = "https://steamcommunity-a.akamaihd.net/economy/image/{{d.icon_url}}" width = "100px" height = "100px"> 
                                    <h6> {{d.market_name}} x({{d.items|length }}) </h6>
                                    <div class="ribbon">
                                        <div class="cr cr-top cr-right r-blue">Tradable</div>
                                    </div>
                                </a>
                            </div>
                            <div class="back">
                                <input type="button" class="submit_btn btn label-success" data-toggle="modal" data-target="#myModal" value="Sell" />
                                <input type="radio" name = "data" value="{{d}}"/>
                            </div>
                        {% else %}
                            <div class="dropdown" style="padding: 0">
                                <a href="#{{d.appid}}_{{d.contextid}}" class="collapsible">
                                    <img class = "itemimg" src = "https://steamcommunity-a.akamaihd.net/economy/image/{{d.icon_url}}" width = "100px" height = "100px"> 
                                    <h6 class="dropbtn"> {{d.market_name}} x({{d.items|length }}) </h6>
                                            <div class="ribbon">
                                                <div class="cr cr-top cr-right cr-sticky r-blue">Tradable</div>
                                            </div>
                                </a>
                                <div class="collapsible-content">
                                    {% for asset in d.items %}
                                        <div class="flip flip-vertical items card  child-items">
                                            <div class='front singleitem'>

                                                <a class="asset"  href="#{{d.appid}}_{{d.contextid}}_{{ asset.assetid}}">
                                                        <img class = "itemimg" src = "https://steamcommunity-a.akamaihd.net/economy/image/{{d.icon_url}}" width = "100px" height = "100px"> 
                                                        <h6> {{d.market_name}} </h6>
                                                <input type="radio" name = "data2" value="{{d}}{{forloop.counter}}"/>
                                                <div class="ribbon">
                                                    <div class="cr cr-top cr-right r-blue">Tradable</div>
                                                </div>
                                                </a>
                                            </div>
                                            <div class="back">
                                                <input type="button" class="submit_btn btn label-success" data-toggle="modal" data-target="#myModal" value="Sell" />
                                                <input type="radio" name = "data" value="{{d}}"/>
                                            </div>
                                        </div>
                                    {% endfor %}
                                </div>   
                            </div>
                            
                        {% endif %}
                        
                    </div>		
                   
                {% else %}
                    <div class="flip flip-vertical non-tradable-items card">
                        <div class="front singleitem">
                        <a href="#{{d.appid}}_{{d.contextid}}_{{ d.assetid}}">
                                <img class = "itemimg" src = "https://steamcommunity-a.akamaihd.net/economy/image/{{d.icon_url}}" width = "100px" height = "100px"> 
                                <h6> {{d.market_name}} x({{d.items|length }})</h6>
                                        <div class="ribbon">
	                                        <div class="cr cr-top cr-right r-yellow">Not Tradable</div>
                                        </div>
                        </a>
                        </div>
                        <div class="back">
                                Not Tradable
                        </div>
                    </div>		
                {% endif %}
					
               
        {% endfor %}
					</section>				
				</div>		
    
</div>
<div class="pagination">
        {% if data.has_previous %}
            <a href="?page=1">&laquo; 1</a>
            {% if data.previous_page_number|add:"-1" > 0 %}
                <a href="?page={{ data.previous_page_number|add:"-1" }}">{{ data.previous_page_number|add:"-1" }}</a>
                <a href="?page={{ data.previous_page_number }}">{{ data.previous_page_number }}</a>
            {% endif %}
            
        {% endif %}
        <a href="javascript: void(0);" class="active">{{ data.number }}</a>
        {% if data.has_next %}
            <a href="?page={{ data.next_page_number }}">{{ data.next_page_number }}</a>
            {% if data.next_page_number|add:"1" <  data.paginator.num_pages %}
                <a href="?page={{ data.next_page_number|add:"1" }}">{{ data.next_page_number|add:"1" }}</a>
                <a href="?page={{ data.paginator.num_pages }}">{{ data.paginator.num_pages }} &raquo;</a>
            {% endif %}
            
        {% endif %}
</div>
<div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Modal Header</h4>
        </div>
        <div class="modal-body">
          <input type="text" placeholder="Enter a price" name="price"/>
        </div>
        <div class="modal-footer">
        <input type="submit" class="submit_btn btn label-success"  value="Confirm" />

          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
      
    </div>
  </div>
</form>	
<script type='text/javascript'>

    $('.submit_btn').click(function(e){
        $(this).siblings().last().prop( "checked", true );

    });
    var coll = $(".collapsible");
        var i;
        for (i = 0; i < coll.length; i++) {
            coll.eq(i).click(function(){
                if($(this).hasClass("active")){
                    $(this).removeClass("active")
                    console.log($('.items > .child-items'))
                    $('.row2 > .child-items').remove()
                }
                else{
                    $('.row2 > .child-items').remove()
                    $("div").removeClass("active")
                    this.classList.add("active");
                    var content = this.nextElementSibling;
                    var div = content.innerHTML;    
                    content.parentElement.parentElement.insertAdjacentHTML("afterend", div);
                }
            });
                
    }
</script>
<style>
    .pagination {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    }
    .pagination a {
    background-color: white;
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    transition: background-color .3s;
    border: 1px solid #ddd;
    margin: 0 4px;
    }

    .pagination a.active {
    background-color: #4CAF50;
    color: white;
    border: 1px solid #4CAF50;
    }

    div#over {
    top: 0;
    background-color: rgba(0,0,0,0.2)
    padding: 50px;
    font-size: 20px;
    height: 50px;
    }

    .singleitem:hover{
        opacity: 0.6;
    }
    .row2 {
    background-color: inherit;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    }

    .row2 .card {
    background-color: inherit;
    text-align: center;
    height: inherit;
    width: 200px;
    height: 250px;
    margin: 10px;
    position: relative;
    overflow: hidden;
    }

    .row2 .card .singleitem {
    height: inherit;
    width: inherit;
    }

    .row2 .card .singleitem a {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: auto;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: inherit;
    padding: 10px 20px;
    }

    .row2 .card .dropdown {
    height: inherit;
    width: inherit;
    }

    .row2 .card .dropdown a {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: auto;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: inherit;
    padding: 10px 20px;
    }

    .flip {
    position: relative;
    }

    .flip > .front,
    .flip > .back {
    display: block;
    -webkit-transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
            transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
    -webkit-transition-duration: .5s;
            transition-duration: .5s;
    -webkit-transition-property: opacity, -webkit-transform;
    transition-property: opacity, -webkit-transform;
    transition-property: transform, opacity;
    transition-property: transform, opacity, -webkit-transform;
    }

    .flip > .front {
    -webkit-transform: rotateY(0deg);
            transform: rotateY(0deg);
    }

    .flip > .back {
    position: absolute;
    opacity: 0;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    -webkit-transform: rotateY(-180deg);
            transform: rotateY(-180deg);
    }

    .flip:hover > .front {
    -webkit-transform: rotateY(180deg);
            transform: rotateY(180deg);
    }

    .flip:hover > .back {
    opacity: 1;
    -webkit-transform: rotateY(0deg);
            transform: rotateY(0deg);
    }

    .flip.flip-vertical > .back {
    -webkit-transform: rotateX(-180deg);
            transform: rotateX(-180deg);
    }

    .flip.flip-vertical:hover > .front {
    -webkit-transform: rotateX(180deg);
            transform: rotateX(180deg);
    }

    .flip.flip-vertical:hover > .back {
    -webkit-transform: rotateX(0deg);
            transform: rotateX(0deg);
    }

    .flip {
    position: relative;
    display: inline-block;
    margin-right: 2px;
    margin-bottom: 1em;
    width: 400px;
    }

    .flip > .front,
    .flip > .back {
    display: block;
    color: white;
    width: inherit;
    background-size: cover !important;
    background-position: center !important;
    height: inherit;
    padding: 1em 2em;
    background: #313131;
    border-radius: 10px;
    }

    .flip > .front p,
    .flip > .back p {
    font-size: 0.9125rem;
    line-height: 160%;
    color: #999;
    }

    .text-shadow {
    text-shadow: 1px 1px rgba(0, 0, 0, 0.04), 2px 2px rgba(0, 0, 0, 0.04), 3px 3px rgba(0, 0, 0, 0.04), 4px 4px rgba(0, 0, 0, 0.04), 0.125rem 0.125rem rgba(0, 0, 0, 0.04), 6px 6px rgba(0, 0, 0, 0.04), 7px 7px rgba(0, 0, 0, 0.04), 8px 8px rgba(0, 0, 0, 0.04), 9px 9px rgba(0, 0, 0, 0.04), 0.3125rem 0.3125rem rgba(0, 0, 0, 0.04), 11px 11px rgba(0, 0, 0, 0.04), 12px 12px rgba(0, 0, 0, 0.04), 13px 13px rgba(0, 0, 0, 0.04), 14px 14px rgba(0, 0, 0, 0.04), 0.625rem 0.625rem rgba(0, 0, 0, 0.04), 16px 16px rgba(0, 0, 0, 0.04), 17px 17px rgba(0, 0, 0, 0.04), 18px 18px rgba(0, 0, 0, 0.04), 19px 19px rgba(0, 0, 0, 0.04), 1.25rem 1.25rem rgba(0, 0, 0, 0.04);
    }

    .collapsible {
        background: #313131;
        cursor: pointer;
        width: inherit;
        }

        .active, .collapsible:hover {
        background-color: #555;
        }

        .collapsible-content {
        padding: 0 18px;
        display: none;
        overflow: hidden;
        background-color: #f1f1f1;
        }
    input[type="radio"] {

    display: none;
    }
    .red {
    {% comment %} background: red {% endcomment %}
    opacity : 0.2
    }
    .asset{
        text-align: justify;
    }
</style>

{% endblock inventory %}


