{% extends 'base.html' %}
{% load static %}
{% comment %} 
items
{
    d.appid
    d.contextid
    d.assetid
    d.classid
    d.instanceid
    d.amount
    d.icon_url
    d.market_name
    d.tradable
} 
{% endcomment %}
{% block inventory %}
<div id="content" class="container"> 
    <form action="{% url "market:sellitem" %}" method="post">
    <input type="submit" class="submit_btn btn label-success" value="Sell" />
        {% csrf_token %}    
        {{ form }}
        <div class="row2">
         {% for d in data %} 
                {% if  d.tradable %} 
                    <div class="items card">
                        <a href="#{{d.appid}}_{{d.contextid}}_{{ d.items}}">
                                <img class = "itemimg" src = "https://steamcommunity-a.akamaihd.net/economy/image/{{d.icon_url}}" width = "100px" height = "100px"> 
                                <h6> {{d.market_name}} x({{d.items|length }}) </h6>
                                <span> Tradable {{d.tradable}} </span>
                        </a>
                        <input type="radio" name = "data" value="{{d}}"/>
                    </div>		
                   
                 {% else %}
                    <div class="non-tradable-items card">
                        <a href="#{{d.appid}}_{{d.contextid}}_{{ d.assetid}}">
                                <img class = "itemimg" src = "https://steamcommunity-a.akamaihd.net/economy/image/{{d.icon_url}}" width = "100px" height = "100px"> 
                                <h6> {{d.market_name}} x({{d.items|length }})</h6>
                                <span> Not Tradable {{d.tradable}} </span>
                        </a>
                            
                    </div>		
                {% endif %}
					
               
        {% endfor %}
					</section>				
				</div>		
    </form>	
</div>

   
<script type='text/javascript'>
    var flag  = 0;
    $('.items').click(function() {
        var rad = $(this).children().last();
        if(rad.is(':checked')){
            $(this).children().last().prop("checked", false);
            $(this).removeClass('red')
        }
        else{
            $(this).children().last().prop("checked", true);
            if(flag == 1){
                $('.items').removeClass('red')
                $(this).addClass('red');
                flag = 0;
            }
            else{
                $(this).addClass('red');
            }
            flag = 1;
        }
    });




</script>
<style>

.row2{
    display: flex;
  flex-wrap: wrap;
  {% comment %} background-color: DodgerBlue; {% endcomment %}
}
.row2 > .items{
    background-color: #f1f1f1;
  width: 100px;
  margin: 10px;
  text-align: center;
}

.row2 > .non-tradable-items{
  background-color: #f1f1f1;
  width: 100px;
  margin: 10px;
  text-align: center;
}
input{
    display: none
}
.red {
  {% comment %} background: red {% endcomment %}
  opacity : 0.2
}

</style>

{% endblock inventory %}

