{% extends 'base.html' %}



{% block cat %}
{% load static %}
<div class="row center-text">
{% for c in cat %}
    <section class="2u item">
        <a href="#">
            {% with 'images/'|add:c.caticon as image_static %}
                <img src = "{% static image_static %}" height = '100px' width = '150px'/>
            {% endwith %}
            <h6 class="" style=""> {{c.catname}} </h6>
        </a>
        
    </section>
{% endfor %}
</div>

<style>
.center-text {
  text-align: center;
  text-justify: inter-word;
}
</style>
{% endblock cat %}




{% block market %}

<div id="content" class="container"> 
        <div class="row">
                {% for item in items %} 

					<section class="3u item">
                        <a href="#{{d.appid}}_{{d.contextid}}_{{ d.assetid}}">
                                <img src = "https://steamcommunity-a.akamaihd.net/economy/image/{{item.icon_url}}" width = "100px" height = "100px"> 
                                <h6> {{item.market_name}} </h6>
                        </a>
                        <input type="radio" name = "data" value="{{d}}"/>
                    </section>		
                    {% if forloop.counter|divisibleby:"4" %}
                        </div>
                        <div class="row">
                    {% endif %}
                    {% endfor %}
					</section>				
				</div>		
</div>
                        
<style>
input{
    display: none
}
</style>
{% endblock market %}

