{% extends 'base.html' %}

{% block cat %}
{% load static %}
<script src="{% static 'js/notify.js' %}"></script>
<div class="row category">
{% for c in cat %}
<div class="dropdown">
    <section class="3i item">
        <a href="javascript:void(0);">
            {% with 'images/'|add:c.caticon as image_static %}
                <img src = "{% static image_static %}" height = '50px' width = '75px'/>
            {% endwith %}
            <h6 class="dropbtn" style=""> {{c.catname}} </h6>
        </a>
    </section> 
    {% comment %} <button class="dropbtn">Dropdown</button> {% endcomment %}
    <div class="dropdown-content">
        {% for ci in cartitems %}
          {% if ci.catname == c.catname %}
            <a href="javascript:void(0);">{{ci.itemname}}</a>
          {% endif %}
        {% endfor %}
    </div>   
  
</div>

{% endfor %}

</div>

{% endblock cat %}




{% block market %}

<div class="market-row">
          {% for item in items %} 
              {% if item.steamid == user.steamid %}
                <section class="market-item">
                  <div class="parent">
                      <a data-id="{{item.appid}},{{item.contextid}},{{item.assetid}}" class = "modalloader" data-toggle="modal" data-target="#priceChangeModal" >
                              <img class="child" src = "https://steamcommunity-a.akamaihd.net/economy/image/{{item.icon_url}}" width = "100px" height = "100px"> 
                              <h6> {{item.market_name}} </h6>
                              <h7> {{item.price}} </h7>
                      </a>
                      <input type="radio" name = "data" value="{{d}}"/>
                    <div class="ribbon">
	                      <div class="mr mr-top mr-right r-green">Owned</div>
                    </div>
                  </div>
                </section>	
              {% else %}
                <section class="market-item">
                  <div class="parent">
                      <a data-id="{{item.appid}},{{item.contextid}},{{item.assetid}}" class = "buymodalloader" data-toggle="modal" data-target="#buyModal" >
                              <img class="child" src = "https://steamcommunity-a.akamaihd.net/economy/image/{{item.icon_url}}" width = "100px" height = "100px"> 
                              <h6> {{item.market_name}} </h6>
                              <h7> {{item.price}} </h7>
                      </a>
                      <input type="radio" name = "data" value="{{d}}"/>
                  </div>
                </section>	
              {% endif %}  	
                {% endfor %}
					</section>				
        </div>		
<div class="modal fade" id="buyModal" role="dialog">
    <div class="modal-dialog">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Buy Order </h4>
        </div>
        <div class="modal-body">
          <p id="desc">Purchase this item for Rs.<span id="price"></span></p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-success buy" data-dismiss="modal">Buy</button>
          <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
        </div>
      </div>
      
    </div>
  </div>         

<script>

$('.buy').on('click', function(){
  var id = $(this).data('id');
  var item = id.split(",");
  var assetid = item[2];
  var appid = item[0];
  var contextid = item[1];
  console.log(assetid);
  $.ajax({
      url: '{% url "market:purchseitem" %}',
      data: {
          'assetid': assetid,
          'appid': appid,
          'contextid': contextid,
          'steamid': '{{user.steamid}}'
      },
      dataType: 'json ',
      success: function (data) {
        obj = JSON.parse(data);
        console.log(obj)
        if(obj["status"]){
           $.notify(obj["message"], "success ");
        }
        else{
          $.notify(obj["message"], "error")
        }
        
        getBal();
      }
    });
   
});
  $('.buymodalloader').on('click', function(){
  var id = $(this).data('id');
  var item = id.split(",");
  var assetid = item[2];
  var appid = item[0];
  var contextid = item[1];
  $('.buy').data('id', id);
  // console.log(assetid, appid, contextid);
    $.ajax({
      url: '{% url "market:getPrice" %}',
      data: {
          'assetid': assetid,
          'appid': appid,
          'contextid': contextid
      },
      dataType: 'json',
      success: function (data) {
        document.getElementById("price").innerText = (data[0]["price"])
        console.log(getBal())
        if(getBal()<(data[0]["price"])){
          $('.buy').prop('disabled', true);
        }
        else{
          $('.buy').prop('disabled', false);
        }
      }
    });
});

function getBal(){
	var steamid = "{{user.steamid}}";
  var balance = 0;
	$.ajax({
  url: '{% url "wallet:getbalance" %}',
  async: false,
	data: {
		'steamid': steamid
	},
	dataType: 'json',
	success: function (data) {
    console.log(data)
      obj = JSON.parse(data);
			document.getElementById("bal").innerHTML = obj["balance"];
      balance = obj["balance"];
		} 
  });
  return balance;
};


</script>
<style>

.market-row {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
}

input[type="radio"]{
    display: none
}

.parent{
    position: relative;
}
</style>

{% endblock market %}

